# Pandas crash course

Qualche esempio di come utilizzare i dataframe della libreria Pandas in Python

In [ ]:
import pandas as pd

In [ ]:
#
# Creare un dataframe da un dizionario
#
data = {
    'Open': [250.87, 252.15, 246.45, 249.06, 250.97, 253.40],
    'High': [251.73, 254.30, 249.86, 249.50, 251.21, 254.35],
    'Low': [247.12, 251.17, 244.69, 245.82, 245.76, 254.35],
    'Close': [247.18, 252.46, 249.73, 246.47, 247.79, 251.86],
    'Adj Close': [247.18, 252.46, 249.73, 246.47, 247.79, 251.86],
    'Volume': [29273400, 27010100, 26491100, 21901300, 32756100, 19626600]
}

row_labels = ['2021-05-10', '2021-05-07', '2021-05-06', '2021-05-05', '2021-05-04', '2021-05-03']

df = pd.DataFrame(data=data, index=row_labels)
df

In [5]:
#
# Visualizzare solo le prime n righe
#
df.head(2)

              Open    High     Low   Close  Adj Close    Volume
2021-05-10  250.87  251.73  247.12  247.18     247.18  29273400
2021-05-07  252.15  254.30  251.17  252.46     252.46  27010100

In [7]:
#
# Visualizzare solo le ultime n righe
#
df.tail(2)

              Open    High     Low   Close  Adj Close    Volume
2021-05-04  250.97  251.21  245.76  247.79     247.79  32756100
2021-05-03  253.40  254.35  254.35  251.86     251.86  19626600

In [8]:
closes = df["Close"]
closes

2021-05-10    247.18
2021-05-07    252.46
2021-05-06    249.73
2021-05-05    246.47
2021-05-04    247.79
2021-05-03    251.86
Name: Close, dtype: float64

In [9]:
#
# Usare la dot notation per selezionare la singola colonna
#
df.Close

2021-05-10    247.18
2021-05-07    252.46
2021-05-06    249.73
2021-05-05    246.47
2021-05-04    247.79
2021-05-03    251.86
Name: Close, dtype: float64

In [ ]:
#
# Selezionare le righe per valore dell'indice
#
df.loc['2021-05-03']

In [ ]:
#
# Selezionare le righe in maniera posizionale
#
df.iloc[-2:]

In [11]:
#
# Esportare il dataframe in un file CSV
#
df.to_csv('data.csv')

In [12]:
#
# Rileggere il file CSV#
#
pd.read_csv('data.csv', index_col=0)

              Open    High     Low   Close  Adj Close    Volume
2021-05-10  250.87  251.73  247.12  247.18     247.18  29273400
2021-05-07  252.15  254.30  251.17  252.46     252.46  27010100
2021-05-06  246.45  249.86  244.69  249.73     249.73  26491100
2021-05-05  249.06  249.50  245.82  246.47     246.47  21901300
2021-05-04  250.97  251.21  245.76  247.79     247.79  32756100
2021-05-03  253.40  254.35  254.35  251.86     251.86  19626600

In [13]:
#
# Calcolare la differenza con la riga precedente di una colonna
#
df['Var'] = df[['Close']] - df[['Close']].shift(-1)
df['VarPerc'] = (df[['Close']] / df[['Close']].shift(-1)) * 100 - 100
df

,Open,High,Low,Close,Adj Close,Volume,Var,VarPerc
2021-05-10,250.87,251.73,247.12,247.18,247.18,29273400,-5.28,-2.091420
2021-05-07,252.15,254.30,251.17,252.46,252.46,27010100,2.73,1.093181
2021-05-06,246.45,249.86,244.69,249.73,249.73,26491100,3.26,1.322676
2021-05-05,249.06,249.50,245.82,246.47,246.47,21901300,-1.32,-0.532709
2021-05-04,250.97,251.21,245.76,247.79,247.79,32756100,-4.07,-1.615977
2021-05-03,253.40,254.35,254.35,251.86,251.86,19626600,NaN,NaN

The End